# Udev rules for device-mapper devices.
#
# These rules set permissions for DM devices. There are some environment
# variables set that can be used:
#   DM_NAME - actual DM device's name
#   DM_UUID - UUID set for DM device (blank if not specified)
#   DM_SUSPENDED - suspended state of DM device (0 or 1)
#   DM_LV_NAME - logical volume name (not set if LVM device not present)
#   DM_VG_NAME - volume group name (not set if LVM device not present)
#   DM_LV_LAYER - logical volume layer (not set if LVM device not present)

SUBSYSTEM!="block", GOTO="dm_end"
KERNEL!="dm-[0-9]*", GOTO="dm_end"
ACTION!="change", GOTO="dm_end"

#ENV{DM_NAME}=="my_device", OWNER:="peter", GROUP:="peter", MODE:="644"

LABEL="dm_end"
