<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<title><%= title %></title>
<link title="Style" type="text/css" rel="stylesheet" href="stylesheet.css">
</head>

<body>
<div id="banner">
<h2><%= title %></h2>
</div>
<div id="main">
  <div id="controls">
    <table>
      <tr><td><a href="index.html">Generation times</a></td></tr>
      <tr><td><a href="unit.html">Unit tests</a></td></tr>
      <tr><td><a href="memcheck.html">Memory tests</a></td></tr>
    </table>
  </div>

  <div id="body">
    <%= body %>
  </div>
</div>
</body>
